div p {
    color: gray;
}
.cards {
    background-color: rgb(215, 209, 209);
    width: 210px;
    height: 25px;
}
.card1 {
    background-color: rgb(215, 209, 209);
}
.card2 {
    background-color: rgb(215, 209, 209);
}